<h1>Click a Item for more details</h1>
<%= link_to 'Create a item', new_dept_item_path(@dept) %>
<ul>
  <% @items.each do |item| %>
    <li><%= link_to item.name, [@dept, item] %></li>
  <% end %>
</ul>
<br />
<%= link_to 'Back to Departments', depts_path %>